stepfunctions-definition.json
{"Comment":"AI Training Pipeline","StartAt":"AnalyzeData","States":{"AnalyzeData":{"Next":"TrainingDecision","Resource":"arn:aws:lambda:us-east-1:443293291738:function:ai-training-pipeline-langgraph-agent-dev","Type":"Task"},"LogTraining":{"Next":"UpdateStatus","Result":"Training would start here","Type":"Pass"},"SkipTraining":{"End":true,"Result":"Training skipped","Type":"Pass"},"TrainingDecision":{"Choices":[{"Next":"LogTraining","StringEquals":"TRAIN","Variable":"$.body.decision"}],"Default":"SkipTraining","Type":"Choice"},"UpdateStatus":{"End":true,"Result":"Status updated","Type":"Pass"}}}
